@model IEnumerable<EcommerceProject.Models.Product>

@{
    ViewData["Title"] = "Shopping";
}

<h1>Shopping</h1>

<form asp-controller="Cart" method="post" asp-action="ShoppingSearch">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row-cols-3">
            <div class="col-3">
                <label asp-for="First().categId" class="control-label"></label>
                <select asp-for="First().categId" class ="form-control" asp-items="ViewBag.categ"></select>
            </div>
            <br />
            <div class="col-3">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categ.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tax)
                </td>
                <td>
                    <img width="50" height="50" src="@item.img.ToString()" alt="pic" asp-append-version="true"/>
                </td>
                <td>
                    <a asp-action="AddToCart" asp-route-id="@item.id">Add To Cart</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
